.appheader{
    height: 50px;
    width: 100%;
    display: flex;
}

.appheader .left_links,.right_links{
    display: flex;
}

li,a{
    color:#000;
    list-style: none;
    text-decoration: none;
}

.appheader .left_links li,.right_links li{
    padding: 5px;
    margin-right: 15px;
    font-size: 16px;
}
 
.appheader .main-heading{
font-weight: 700;
padding: 10px;
font-size: 30px;
margin: 0 auto;
}

.right_links{
    margin-right: 40px;
}