<div class="appheader">

    <ul class="left_links">
        <li><a href="#">NEW ARRIVALS</a></li>
        <li><a href="#">SHOP</a></li>
        <li><a href="#">COLLECTIONS</a></li>
    </ul>
    <h1 class="main-heading">MODNIKKY</h1>


    <ul class="right_links">
        <li><a href="#"><img src="./assets/search.png"
                    style="height: 20px; width: 20px; vertical-align: middle;">SEARCH</a></li>
        <li><a href="#">SIGN IN</a></li>
        <li><a href="#">BAG (2)</a></li>
        <li><span class="app-badge">badge</span></li>
        <li [matBadge]="ItemCounts" matBadgeOverlap="false" [matBadgeHidden]="ItemCounts==0"><img src="./assets/wishlist.png" style="height:20px; width:20px;"></li>
    </ul>

</div>




    







