
    <pre>
        <h3 style="text-align: center;">SIGN UP FOR UPDATES</h3>
        <h3 style="text-align: center;">Sign up for exclusive early sale access and tailored new arrivals</h3>
       </pre>
        <div class="form">
            <form action="" id="">
                <input type="text" name="usrname" placeholder="Your email address JOIN">
            </form>
        </div>
    
        <div class="footer">
            <div class="child">
                <h3>CUSTOMER SERVICE</h3>
                <p>CONTACT</p>
                <p>TRACK ORDER</p>
                <p>DELIVERY & RETURNS</p>
                <p>PAYMENT</p>
                <p>MAKE A RETURN</p>
                <p>FAQ</p>
            </div>
            <div class="child">
                <h3>INFO</h3>
                <p>GIFT VOUCHERS</p>
                <p>SIZE GUIDE</p>
                <p>CAREERS AT MONDIKKY</p>
                <p>ABOUT US</p>
                <p>LEGAL POLICIES</p>
            </div>
            <div class="child">
                <h3>FOLLOW US</h3>
                <p>FACEBOOK</p>
                <p>TWITTER</p>
                <p>INSTAGRAM</p>
            </div>
            <div class="child">
                <h3>CONTACT US</h3>
                <p>hello@modnikky.com</p>
                <p>+91 8795695645</p>
                <p>Visit us at Shalalaeva 23,Russia</p>
            </div>
    
        </div>
    
    
    
    
    