*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section{
    display: block;
}
.bn39 {
    background-image: linear-gradient(135deg, #008aff, #86d472);
    border-radius: 6px;
    box-sizing: border-box;
    color: #ffffff;
    display: block;
    height: 70px;
    font-size: 1.4em;
    font-weight: 600;
    padding: 3px;
    position: relative;
    text-decoration: none;
    width: 150px;
    z-index: 2;
    margin-right: 30px;
  }
  
  .bn39:hover {
    color: #fff;
  }
  
  .bn39 .bn39span {
    align-items: center;
    background: #0e0e10;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 0.5s ease;
    width: 100%;
  }
  
  .bn39:hover .bn39span {
    background: transparent;
  }

.button2{
    margin-top: 20px;
    position: relative;
    outline: none;
  background-color: red;
    color:white;
    padding: 10px 35px;
    border-radius: 100px;
    box-shadow: black;
    width: 200px;
    
}
.button2:hover{
    background-color: rgb(160, 54, 54);

    
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.app-badge {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #fff;
    background: black;
    color: #fff;
    transform: translate(170%,-60%);
    font-size: 16px;
    
}




