


    <div class="grid-container">
        <div class="grid-categories">
            <h4>CATEGORIES</h4>
            <p><a href="#">TOPS</a></p>
            <p><a href="#">TEENS AND TANKS</a></p>
            <p><a href="#">SHIRTS</a></p>
            <p><a href="#">DRESSES</a></p>
            <p><a href="#">TEENS AND TANKS</a></p>
            <p><a href="#">KNITWEAR</a></p>
            <p><a href="#">JUMPSUITES</a></p>
            <p><a href="#">BOTTOMS</a></p>
            <p><a href="#">INTIMATES</a></p>
            <p><a href="#">SHORTS</a></p>
            <p><a href="#">JEANS</a></p>
            <p><a href="#">SKIRTS</a></p>
            <p><a href="#">SALE</a></p>
            <p><a href="#">SHOP ALL</a></p>
            <p><a href="#">FILTERS</a></p>
            <p><a href="#">+ SIZE</a></p>
            <p><a href="#">+ PRICE</a></p>
            <p><a href="#">+ COLOR</a></p>
            <p><a href="#">+ FABRIC</a></p>
            <p><a href="#">+ NEWEST ARRIVAL</a></p>
        </div>


        <div class="grid first">
            
            <button id="btn1" class="b-wishlist" (click)="onAdd()">+</button>
            <button id="btn2" class="b-wishlist" (click)="onDelete()">-</button>
        </div>
        <div class="grid"><img src="./assets/top22.jpg"><button class="b-wishlist">Add to Wishlist</button></div>
        <div class="grid"><img src="./assets/top3.jpg" id="tops"></div>
        <div class="grid"><img src="./assets/top4.jpg" id="tops"></div>
        <div class="grid"><img src="./assets/top5.jpg" id="tops"></div>
        <div class="grid"><img src="./assets/top11.jpg" id="tops"></div>



    </div>