 


.container{
    background: url("../assets/Images/inspect/weather/Web/01_Home/background/background.png");
}
.grid{
    position: relative;
    width: 960px;
    height: 688px;
    //  border: 1px solid black;
    margin: 0 auto;
}

